[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Free Google Translator for Dart
[access "refs/*"]
	owner = group user/svonidze
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group shlang-dev
	label-Code-Review = -2..+2 group user/svonidze
	label-Verified = -1..+1 group user/svonidze
	push = group shlang-dev
	push = group user/svonidze
	read = group shlang-dev
	read = group user/svonidze
	rebase = group shlang-dev
	rebase = group user/svonidze
	removeReviewer = group shlang-dev
	removeReviewer = group user/svonidze
	submit = group shlang-dev
	submit = group user/svonidze
[access "refs/heads/*"]
	create = group user/svonidze
	push = +force group user/svonidze
	pushMerge = group user/svonidze
	read = group user/svonidze
[access "refs/tags/*"]
	push = group user/svonidze
	push = +force group user/svonidze
